@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollable-div {
    @apply bg-sidebarBG text-textWhite p-4 overflow-y-auto;
    /* Tailwind utilities */
}

.scrollable-div::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}